/* Universal Selectors */

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* Base Element Styles */

h1, h2, h3, h4, li {
    font-family: 'Merriweather', serif; 
}



/* Tablet Media Query */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}