/* Universal Selectors */

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* Base Element Styles */

h1, h2, h3, h4, li {
    font-family: 'Merriweather', serif; 
}

html {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

header {
    background-color: rgb(44, 57, 69);
    display: block; 
    overflow: auto;
    padding: 25px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.top-info h1 {
    color:  rgb(44, 57, 69);
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.top-info p {
    color: rgb(183, 188, 199);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 15px;
    border-bottom: solid 4px rgb(44, 57, 69);
}

/* Attribute Selectors */

button[type="submit"], 
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}



/* Tablet Media Query */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}